* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.trigger {
  padding: 0px 24px;
  font-size: 32px;
  cursor: pointer;
  transition: color 0.2;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}


.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.logo {
  background-color: #0D103C;
  margin : 0;
  height: 90px;
}

.ant-menu-title-content {
  font-size: 16px;
}

.ant-layout-header {
  
  height: auto;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-layout-header {
  background-color: #0D103C;
  line-height: normal;
  padding: 20px;
}

/* :where(.css-dev-only-do-not-override-1wazalj).ant-layout-header {
  height: 64px;
  padding-inline: 50px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  background: #001529;
} */

.error{
  color: red;
  font-size: 16px;
}

input[type="password"]::-webkit-password-suffix {
  /* Change the color value to your desired color */
  color: rgb(255, 255, 255);
}

/* className="bg-[#0D103C] w-[250px] md:w-[400px] lg:w-[600px] h-[75px] text-[#fff] font-roboto font-[400] text-xl rounded-[15px]" */
option {
  background-color: #0D103C;
  font-size: 20px;
  width: auto;
  color: white;
  margin: 25px;
  padding: 25px;
  border-radius: 20px;
}

.rw-widget-input {
  color: #ffffff;
  background-color: #0D103C;
  width: 400px;
  border-radius: 20px;
  margin-top: 15px;
}

.rw-multiselect-taglist{
  background-color: #0D103C;
  width: auto;
  height: 75px;
}

.rw-picker-caret{
  background-color: #0D103C;
}

.rw-btn{
  color: #ffffff;
 background: none;
}

.rw-multiselect-input {
  color: #ffffff;
  background-color: #0D103C;
  width: 220px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 20px;
}

.rw-multiselect-input {
  padding: 5px;
  border: none;
  color: white;
  /* box-shadow: none; */
  /* background: none; */
  /* font: inherit; */
  line-height: inherit;
  /* touch-action: manipulation; */
  outline: 0;
  height: calc(38px - 1px * 2);
  padding: 0 0.857em;
  /* max-width: 100%; */
  text-align: left;
}
.rw-multiselect-tag {
  display: inline-flex;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid #dee2e6;
  cursor: default;
  width: auto;
  height: 60px;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  color: white;
  background-color: #0D103C;
  height: 75px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}


:where(.css-dev-only-do-not-override-1wazalj)[class*=" ant-select"] [class*=" ant-select"] {
  font-size: 20px;
}